* {
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

/*Body*/
body {
    padding-top: 60px;
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
}
#home-img{
    width: 100%;
    height: 500px;
    object-fit:cover
}
/*Main*/
.page-text {
    padding: 10px;
}

/* grid */
.row {
    padding: 15px;
}
.display {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}
.item {
    max-width: 100%;
    min-height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
/* product image */
.item img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
/* product info */
.item-content {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100% - 160px); /* Adjust based on image height */
}
.item h3 {
    margin: 0 0 5px 0;
    font-size: 1.1rem;
    color: #333;
}
.item p {
    margin: 0 0 8px 0;
    color: #666;
    font-size: 0.9rem;
    flex-grow: 1; /* price and button pushed down*/
}
span {
    color: whitesmoke;
}
/* price & button section */
.price {
    font-weight: bold;
    /*color: #2a7f62;*/
    font-size: 1.1rem;
    text-align: right;
}
.add-to-cart {
    border-radius: 25px;
    border: none;
    background-color: #20B2aa;
    text-align: center;
    padding: 5px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.add-to-cart p {
    color: whitesmoke;
    font-weight: bold;
    margin: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-to-cart .material-icons {
    color: whitesmoke;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: teal;
    transform: scale(1.02);
}


/* Footer */
footer {
    margin-top: 50px;
    left: 0;
    border: none;
    width: 100%;
    background-color: lightseagreen;
    position: absolute;
    text-align: center;
    padding: 5px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    color: whitesmoke;
}
footer h2 {
    color: whitesmoke;
}
footer ul {
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-left: 20px;
    text-align: left;
}
footer a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

footer a:hover {
    color: greenyellow;
}

footer .material-icons {
    font-size: 16px;
}

#copyright {
    margin: 25px 25px;
    font-weight: bold;
    text-align:  right;
}
